
html {
  height: 100%;
}
body{
  height:100%;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background:linear-gradient(to bottom right, rgb(230, 202, 46), rgb(0, 0, 0));
}

#timer {
  float:right;
  padding-right: 10px;
  font-size: 20px;
  font-weight: bold;
}

#title-question {
  text-align: center;
  padding-top: 10px;
  padding-bottom: 10px;
}

#view {
  font-weight: bold;
  padding-left: 10px;
  font-size: 20px;
}

header {
  padding-top: 10px;
  padding-bottom: 10px;
}

button {
  width: 200px;
  margin-top: 10px;
  margin-left: 20px;
  padding-top: 5px;
  padding-bottom: 5px;
}

.high {
  margin-left: 20px;
  margin-right: 20px;
  font-size: 20px;
  font-weight: bold;
}

.initials {
  margin-left: 20px;
  margin-top:10px;
}

.show {
  margin-left: 20px;
  margin-top:10px;
  font-size: 20px;
  font-weight: bold;
}

.res {
  float:right;
  padding-right: 125px;
  font-size: 30px;
}

.btn {
  display:block;
}

#quest {
  display: block;
}

.my-border {
  border: 5px solid black;
}

.container {
  min-height: 400px;
  background: url(./images/Paper.jpg) top center no-repeat;
  background-size: cover;
}