#timer {
  float:right;
}

#title-question {
  text-align: center;
}

button {
  display: block;
  background-color: blue;
  width: 200px;
  margin-top: 10px;
  margin-left: 20px;
  padding-top: 5px;
  padding-bottom: 5px;
}

#quest {
  display: block;
}

.my-border {
  border: 5px solid black;
}

.container {
  min-height: 500px;
}